__pycache__/
.vscode/
*.py[cod]
*$py.class
*.so
.Python
build/
build_standalone_msvc/
build_qt/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
env/
venv/
.env
.venv
application_cpp/qt/build_no_venv*/
application_cpp/qt/build_standalone_msvc/
*.npy
*.npz
*.nii
*.nii.gz
*.dcm
*.mha
*.mhd
*.raw
*.h5
*.hdf5
*.pth
*.pt
*.onnx
*.pkl
*.pickle
application/dataset/
.vs/
CMakeFiles/
cmake_install.cmake
Makefile
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.vcxproj.FileListAbsolute.txt
*.user
*.suo
*.opensdf
*.sdf
*.ipch
*.tlog
*.ilk
*.pdb
*.obj
*.o
*.pch
*.log
*.cache
*.lib
*.exp
output/
application/output/
application_cpp/output/
application/input/
application_cpp/input/
application/data/.session_user
application/data/data.db
application_cpp/data/.session_user
application_cpp/data/data.db
kernels/.ninja_deps
kernels/.ninja_log
kernels/build.ninja
kernels/build_status.json
kernels/*.o
kernels/*.obj
kernels/*.lib
kernels/*.exp
